{% extends 'todo/base.html' %}
{% block content %} 
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <form action="/search" method="GET" class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search" name="q">
          <button class="btn btn-primary me-2" type="submit">Search</button>
          <a href="{% url "todo:task_create" %}" class="btn btn-success" >create</a>

        </form>
      </div>
    </div>
  </div>
<div class="container mt-5">
{% for task in tasks %}
<div class="row">
  <div class="col-lg-4 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="{% if task.is_done %} text-decoration-line-through {% endif %}">{{task.title}}</h5>
        <div class="btn-group">
          <a href="{% url "todo:task_edit" task_id =task.id %}" class="btn btn-primary">Edit</button>
          <a href="{% url "todo:task_delete" task_id =task.id %}" class="btn btn-danger">Delete</button>
          {% if task.is_done %} 
          <a href="{% url "todo:task_done" %}" class="btn btn-success">Done</button>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
</div>
{% endblock content %}