{% extends 'todo/base.html' %}
{% block content %} 
<div class="container mt-5">
{% for task in tasks %}
<div class="row">
  <div class="col-lg-4 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="{% if task.is_done %} text-decoration-line-through {% endif %}">{{task.title}}</h5>
        <div class="btn-group">
          <button type="button" class="btn btn-primary">Edit</button>
          <button type="button" class="btn btn-danger">Delete</button>
          <button type="button" class="btn btn-success">Done</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Task 2 Title</h5>
        <div class="btn-group">
          <button type="button" class="btn btn-primary">Edit</button>
          <button type="button" class="btn btn-danger">Delete</button>
          <button type="button" class="btn btn-success">Done</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Task 3 Title</h5>
        <div class="btn-group">
          <button type="button" class="btn btn-primary">Edit</button>
          <button type="button" class="btn btn-danger">Delete</button>
          <button type="button" class="btn btn-success">Done</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
</div>
{% endblock content %}